<div class = "center_box">
    <h1>Edit Your Profile</h1>

    <%= form_for @user do |f|%>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <br>
        <%= f.label :age %>
        <%= f.number_field :age %>

        <br>
        <%= f.label "Heigh (in)" %>
        <%= f.number_field :height_inch %>

        <br>
        <br>
        <%= f.submit %>
    <% end %>
</div>