<h1>EDIT NEW USER</h1>

<%= form_for @user do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.number_field :age %>

    <%= f.label "Heigh (in)" %>
    <%= f.number_field :height_inch %>

    <%= f.label :weight %>
    <%= f.number_field :weight %>

    <%= f.label :weight_goal %>
    <%= f.number_field :weight_goal %>

    <%= f.label :sex %>
    <%= f.text_field :sex %>

    <%= f.submit %>
<% end %>