<div class = "center_box">
    <h1>Edit Your Profile</h1>

    <%= form_for @user do |f|%>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <br>
        <div class="parent_height_age">
            <div class = "height_age_box">
                <%= f.label :age %>
                <br>
                <%= f.number_field :age, class: "height_age" %>
            </div>
            <div class = "height_age_box">
                <%= f.label "Height (in)" %>
                <br>
                <%= f.number_field :height_inch, class: "height_age" %>
            </div>
        </div>
        <br>
        <br>
        <%= f.submit %>
    <% end %>
</div>