<div class = "center_box">
<h1>Create New User</h1>

<%= form_for @user, class: "center_form" do |f|%>
    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>


    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <div class="parent">
        <span class = "number_box_1">
            <%= f.label :age %>
            <br>
            <%= f.number_field :age %>
        </span>
        <span class = "number_box_2">
            <%= f.label "Height (in)" %>
            <br>
            <%= f.number_field :height_inch %>
        </span>
    </div>
    <br>
    <%# <%= f.label :weight %>
     <%# <%= f.number_field :weight %>
    <%# <br> %>
     <%# <%= f.label :weight_goal %>
     <%# <%= f.number_field :weight_goal %>
    <br>
    <%= f.submit %>
<% end %>
</div>

