<div class = "center_box">
<h1> User Profile: </h1>

<p><strong> Name: <%= @user.name.capitalize%> </strong></p>
<p> Username: <%= @user.username%></p>
<p> Age: <%= @user.age%> </p>
<p> Height: <%= @user.height_inch%> inches</p>
<%# show all routines for that user %>
<br>

<% if @user_routines != [] %>
    <div class = "highlight_v2">
    <h3 class = "your_routines"> Your Routines:</h3>
    <% @user_routines.each do |r|%>
        <%=link_to r.name.capitalize, routine_path(r), class: 'routine_name' %>
        <br>
    <% end %>
<% else %>
    <div class = "highlight">
    <p class = "no_space">You have no routines!</p>
<% end %>
</div>
<br>
<%= button_to "Create Routine", exercises_path, method: :get %>
<br>
<%= button_to "Edit Profile", edit_user_path, method: :get %>
</div>

