<h2> User profile: </h2>

<h3> <%= @user.name %> </h3>
<p><strong> Name: <%= @user.name%> </strong></p>
<p> Age: <%= @user.age%> </p>
<p> Gender?: <%= @user.sex%> </p>
<p> Height: <%= @user.height_inch%> in</p>
<p> Weight: <%= @user.weight%> lb</p>
<p> Weight goal: <%= @user.weight_goal%> </p>

<%# show all routines for that user %>
<p> show routines: <%= @user.routines%></p>

<%# show all classes for that user%>
<p> classes? </p>

<%# display class schedule for that user %>
<p> schedule? </p>

<%= button_to "Create Routine", exercises_path, method: :get %>

<br>


<%= button_to "Delete Account", @user, method: :delete %>