<h2> User profile: </h2>

<p><strong> Name: <%= @user.name%> </strong></p>
<p> Username: <%= @user.username%></p>
<p> Age: <%= @user.age%> </p>
<p> Height: <%= @user.height_inch%> in</p>
<p> Weight: <%= @user.weight%> lb</p>
<p> Weight goal: <%= @user.weight_goal%> </p>

<%# show all routines for that user %>
<p> show routines:<br>
<% @user_routines.each do |r|%>
    <%=link_to r.name, routine_path(r)%>
    <br>
<% end %>

<%= button_to "Create Routine", exercises_path, method: :get %>
<%= button_to "Logout", logout_path, method: :delete %>


<br>


<%# <%= button_to "Delete Account", @user, method: :delete %> 