<h2> Exercise info: </h2>

<p> Type: <%= @exercise.type_of%> </p>
<p> Name: <%= @exercise.name%> </p>
<p> Video instructions: <%= @exercise.youtube_link%> in</p>
<p> Info: <%= @exercise.description%> in</p>
<p> Barbell?: <%= @exercise.barbell?%> lb</p>
<p> Weight?: <%= @exercise.weight%> </p>