<div class = "center_box">
<h1> <%="#{@exercise.name.capitalize}"%> </h1>

<iframe width=100% height="260" src=<%="#{@exercise.youtube_link}"%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
<% if @exercise.weight == 0 && @exercise.barbell? == true%>
    <p> Enter a weight: </p>
    <%= form_tag("weight/#{@exercise.id}", method: :get) do %> 
        <%= hidden_field_tag 'id', @exercise.id %>
        <%= text_field_tag :weight %>
        <br>
        <%= submit_tag 'Get Plates'%>
    <% end %>
<% elsif @exercise.weight >= 0 && @exercise.barbell? == true%>
    <p> Enter a new weight: </p>
    <%= form_tag("weight/#{@exercise.id}", method: :get) do %> 
        <%= hidden_field_tag 'id', @exercise.id %>
        <%= text_field_tag :weight %>
        <br>
        <%= submit_tag 'Get Plates'%>
    <% end %>
<% end %>
</div>
