<h2> Exercise info: </h2>

<p> Name: <%= @exercise.name%> </p>
<p> Type: <%= @exercise.type_of%> </p>
<p> Video instructions: <%= @exercise.youtube_link%></p>
<% if @exercise.weight == 0%>
    <p> Enter a weight: </p>

    <%= form_tag("weight/#{@exercise.id}", method: :get) do %> 
        <%= hidden_field_tag 'id', @exercise.id %>
        <%= text_field_tag :weight %>
        <br>
        <%= submit_tag 'Get Plates'%>
    <% end %>

<% else %>
    <p> Weight: <%= @exercise.weight%> </p>
<% end %>
